In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('Washing_machine2.csv')
df.head()

,Brand,Capacity,Load_type,Spin_speed,Machine_type,Motor_warranty,Offer_price,Original_price,Discount,Ratings,Quality
0,realme,7 kg,Top Load,1400 RPM,Semi Automatic,NaN,"₹7,990","₹12,490",36% off,4.2,"76,352 Ratings & 7,073 Reviews"
1,Voltas,5 kg,Top Load,1350 rpm,Semi Automatic,1 Year Warranty,"₹7,790","₹12,500",37% off,4.3,"14,645 Ratings & 1,044 Reviews"
2,Thomson,5 kg,Top Load,1400 RPM,Semi Automatic,5 Years Warranty,"₹7,499","₹11,499",34% off,4.1,"19,634 Ratings & 1,740 Reviews"
3,Reliance,5 kg,NaN,1350 RPM,NaN,NaN,"₹5,499","₹8,999",38% off,4.1,84 Ratings & 7 Reviews
4,realme,5 kg,Top Load,1400 RPM,Semi Automatic,NaN,"₹8,490","₹13,990",39% off,4.2,"76,352 Ratings & 7,073 Reviews"

In [3]:
df.duplicated().sum()

418

In [4]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Brand,Capacity,Load_type,Spin_speed,Machine_type,Motor_warranty,Offer_price,Original_price,Discount,Ratings,Quality
0,realme,7 kg,Top Load,1400 RPM,Semi Automatic,NaN,"₹7,990","₹12,490",36% off,4.2,"76,352 Ratings & 7,073 Reviews"
1,Voltas,5 kg,Top Load,1350 rpm,Semi Automatic,1 Year Warranty,"₹7,790","₹12,500",37% off,4.3,"14,645 Ratings & 1,044 Reviews"
2,Thomson,5 kg,Top Load,1400 RPM,Semi Automatic,5 Years Warranty,"₹7,499","₹11,499",34% off,4.1,"19,634 Ratings & 1,740 Reviews"
3,Reliance,5 kg,NaN,1350 RPM,NaN,NaN,"₹5,499","₹8,999",38% off,4.1,84 Ratings & 7 Reviews
4,realme,5 kg,Top Load,1400 RPM,Semi Automatic,NaN,"₹8,490","₹13,990",39% off,4.2,"76,352 Ratings & 7,073 Reviews"
...,...,...,...,...,...,...,...,...,...,...,...
561,Whirlpool,9 kg,Top Load,1400 RPM,Semi Automatic,NaN,"₹17,565","₹18,490",5% off,4.2,38 Ratings & 2 Reviews
562,Panasonic,5 kg,Top Load,720 rpm,Automatic,2 Years Warranty,"₹23,630","₹33,900",30% off,NaN,NaN
563,LG,8 kg,Front Load,1400 RPM,Automatic,2 Years Warranty,"₹38,990","₹44,990",13% off,4.3,65 Ratings & 5 Reviews
564,LG,7 kg,Top Load,700 RPM,Automatic,10 Years Warranty,"₹20,999","₹23,490",10% off,NaN,NaN
565,Haier,5 kg,Top Load,800 RPM,Automatic,10 Years Warranty,"₹15,999","₹23,000",30% off,NaN,NaN

# DATA CLEANING

In [5]:
df.isna().sum()

Brand               0
Capacity           11
Load_type         109
Spin_speed          0
Machine_type       85
Motor_warranty    204
Offer_price         2
Original_price     14
Discount           17
Ratings            73
Quality            73
dtype: int64

In [6]:
# correct values in column
df['Brand'] = df['Brand'].str.upper()
df['Capacity'] = df['Capacity'].replace('kg','',regex=True)
df['Capacity'] = pd.to_numeric(df['Capacity'], errors='coerce')
df['Capacity'] = df['Capacity'].fillna(df['Capacity'].mean()).astype(int)
df['Load_type'] = df['Load_type'].fillna(df['Load_type'].mode()[0]).astype(object)
df['Spin_speed'] = df['Spin_speed'].replace(r'\D','',regex=True).astype(int)
df['Machine_type'] = df['Machine_type'].fillna(df['Machine_type'].mode()[0])
df['Motor_warranty'] = df['Motor_warranty'].replace(r'\D','',regex=True).astype(float)
df['Offer_price'] = df['Offer_price'].replace(r'\D','',regex=True)
df['Original_price'] = df['Original_price'].replace(r'\D','',regex=True)
df['Discount'] = df['Discount'].replace(r'\D','',regex=True)
df['Ratings'] = df['Ratings'].fillna(df['Ratings'].mean()).round(1)
df['Total_ratings'] = df['Quality'].str.split('&').str[0]
df['Total_reviews'] = df['Quality'].str.split('&').str[1]
#correcting the values in column
df['Motor_warranty'] = df['Motor_warranty'].fillna(df['Motor_warranty'].mean()).astype(int)
df['Offer_price'] = pd.to_numeric(df['Offer_price'],errors= 'coerce')
df['Offer_price'] = df['Offer_price'].fillna(df['Offer_price'].mean()).astype(int)
df['Original_price'] = pd.to_numeric(df['Original_price'], errors = 'coerce')
df['Original_price'] = df['Original_price'].fillna(df['Original_price'].mean()).astype(int)
df['Discount'] = pd.to_numeric(df['Discount'],errors = 'coerce')
df['Discount'] = df['Discount'].fillna(df['Discount'].mean()).astype(int)
df['Total_ratings'] = df['Total_ratings'].replace(r'\D','',regex=True)
df['Total_ratings'] = pd.to_numeric(df['Total_ratings'],errors = 'coerce')
df['Total_ratings'] = df['Total_ratings'].fillna(df['Total_ratings'].mean()).astype(int)
df['Total_reviews'] = df['Total_reviews'].replace(r'\D','',regex = True)
df['Total_reviews'] = pd.to_numeric(df['Total_reviews'],errors = 'coerce')
df['Total_reviews'] = df['Total_reviews'].fillna(df['Total_reviews'].mean()).astype(int)
df = df.drop(columns = ['Quality'],axis = 1)
df

,Brand,Capacity,Load_type,Spin_speed,Machine_type,Motor_warranty,Offer_price,Original_price,Discount,Ratings,Total_ratings,Total_reviews
0,REALME,7,Top Load,1400,Semi Automatic,7,7990,12490,36,4.2,76352,7073
1,VOLTAS,5,Top Load,1350,Semi Automatic,1,7790,12500,37,4.3,14645,1044
2,THOMSON,5,Top Load,1400,Semi Automatic,5,7499,11499,34,4.1,19634,1740
3,RELIANCE,5,Top Load,1350,Automatic,7,5499,8999,38,4.1,84,7
4,REALME,5,Top Load,1400,Semi Automatic,7,8490,13990,39,4.2,76352,7073
...,...,...,...,...,...,...,...,...,...,...,...,...
561,WHIRLPOOL,9,Top Load,1400,Semi Automatic,7,17565,18490,5,4.2,38,2
562,PANASONIC,5,Top Load,720,Automatic,2,23630,33900,30,4.2,8195,726
563,LG,8,Front Load,1400,Automatic,2,38990,44990,13,4.3,65,5
564,LG,7,Top Load,700,Automatic,10,20999,23490,10,4.2,8195,726
565,HAIER,5,Top Load,800,Automatic,10,15999,23000,30,4.2,8195,726

In [7]:
df.isna().sum()

Brand             0
Capacity          0
Load_type         0
Spin_speed        0
Machine_type      0
Motor_warranty    0
Offer_price       0
Original_price    0
Discount          0
Ratings           0
Total_ratings     0
Total_reviews     0
dtype: int64

In [8]:
df.to_csv('washing_machine_final1.csv',index = False)

In [9]:
df = pd.read_csv('washing_machine_final1.csv')
df.head()

,Brand,Capacity,Load_type,Spin_speed,Machine_type,Motor_warranty,Offer_price,Original_price,Discount,Ratings,Total_ratings,Total_reviews
0,REALME,7,Top Load,1400,Semi Automatic,7,7990,12490,36,4.2,76352,7073
1,VOLTAS,5,Top Load,1350,Semi Automatic,1,7790,12500,37,4.3,14645,1044
2,THOMSON,5,Top Load,1400,Semi Automatic,5,7499,11499,34,4.1,19634,1740
3,RELIANCE,5,Top Load,1350,Automatic,7,5499,8999,38,4.1,84,7
4,REALME,5,Top Load,1400,Semi Automatic,7,8490,13990,39,4.2,76352,7073

In [10]:
df.shape

(566, 12)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           566 non-null    object
 1   Capacity        566 non-null    int64
 2   Load_type       566 non-null    object
 3   Spin_speed      566 non-null    int64
 4   Machine_type    566 non-null    object
 5   Motor_warranty  566 non-null    int64
 6   Offer_price     566 non-null    int64
 7   Original_price  566 non-null    int64
 8   Discount        566 non-null    int64
 9   Ratings         566 non-null    float64
 10  Total_ratings   566 non-null    int64
 11  Total_reviews   566 non-null    int64
dtypes: float64(1), int64(8), object(3)
memory usage: 53.2+ KB